@import '../../public/css/utils/variables.css';

.btn {
  display: inline-flex;
  position: relative;
  align-items: center;
  margin-bottom: 0;
  padding: 0.3125rem 0.625rem;
  border: 0;
  background-color: transparent;
  background-image: none;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;

  @nest
  &.is-disabled,
  &[disabled],
  &.btn--disabled {
    opacity: 0.65;
    box-shadow: none;
    cursor: default;
  }

  @nest & + .btn {
    margin-left: 0.25rem;
  }
}

/* -----------------------------------------------------------------------------
 * Type
 * -------------------------------------------------------------------------- */

.btn--neutral {
  padding-right: 1rem;
  padding-left: 1rem;
  border: 1px solid var(--light-gray);
  background-color: var(--white);
  text-align: center;
  vertical-align: middle;

  @nest &[disabled] {
    color: var(--light-gray);
  }
}

.btn--destructive {
  padding-right: 1rem;
  padding-left: 1rem;
  border: 1px solid var(--color-border-destructive);
  background-color: var(--color-background-destructive);
  color: var(--white);
  text-align: center;
  vertical-align: middle;
}

.btn--default {
  border-color: var(--secondary-color);
  background-color: var(--secondary-color);
  color: var(--white);
}

.btn--default--active:hover,
.btn--default--active {
   border-color: var(--secondary-color);
   background-color: var(--white);
}

.btn--default:hover {
  border-color: var(--secondary-color);
  background-color: var(--white);
  color: var(--secondary-color);
}

.btn--primary-rounded {
  padding: 5px;
  border-radius: 100%;
  color: var(--white);
  line-height: 1;
  vertical-align: middle;
}

.btn--success {
  border: 0.0625rem solid var(--btn-success-bg);
  background-color: var(--btn-success-bg);
  color: var(--btn-success-color);

  &:link,
  &:visited,
  &:active {
    color: var(--btn-success-color);
  }

  &:hover,
  &:focus {
    border-color: var(--btn-success-bg-hover);
    background-color: var(--btn-success-bg-hover);
    color: var(--btn-success-color);
  }

  &:active {
    border-color: var(--btn-success-bg-hover);
    background-color: var(--btn-success-bg-hover);
  }
}

.btn--warning {
  border: 0.0625rem solid var(--btn-warning-bg);
  background-color: var(--btn-warning-bg);
  color: var(--btn-warning-color);

  @nest &:hover {
    border-color: var(--btn-warning-bg-hover);
    background-color: var(--btn-warning-bg-hover);
  }
}

.btn--danger {
  border: 0.0625rem solid var(--btn-danger-bg);
  background-color: var(--btn-danger-bg);
  color: var(--btn-danger-color);

  @nest &:hover {
    border-color: var(--btn-danger-bg-hover);
    background-color: var(--btn-danger-bg-hover);
  }
}

.btn--link {
  background-color: transparent;
  text-decoration: underline;

  @nest &:hover {
    background-color: transparent;
    text-decoration: none;
  }
}

.btn--link,
.btn--link:hover,
.btn--link:focus,
.btn--link:active {
  border-color: transparent;
}

/* -----------------------------------------------------------------------------
 * Size
 * -------------------------------------------------------------------------- */

.btn--small {
  padding: 0.25rem 0.625rem;
}

.btn--large {
  padding-right: 1.5625rem;
  padding-left: 1.5625rem;

  @media (--min-sm) {
    padding-right: 3.125rem;
    padding-left: 3.125rem;
  }
}

.btn--big {
  padding: 0.625rem 2.1875rem;
  font-size: 1.125rem;
  line-height: 1.33333;
}

.btn--sm {
  padding: 0.25rem 0.75rem;
  font-size: 0.85rem;
  line-height: 1.5;
}

.btn--lg {
  padding: 0.5rem 1.5rem;
  font-size: 1.25rem;
}

.btn--fullwidth {
  width: 100%;
}

.btn--fullheight {
  height: 100%;
}

.btn__icon.icon[class^='icon-'],
.btn__icon.icon[class*=' icon-'] {
  font-size: 1rem;
  line-height: 1;
  vertical-align: text-bottom;
}

svg.btn__icon {
  height: 1.25rem;
}

.btn__icon--left {
  margin-right: 0.5rem;
}

.btn__icon--right {
  margin-left: 0.5rem;
}

.btn__label {
  vertical-align: text-bottom;
}

.btn__label .btn__icon {
  margin-left: 0.25rem;
}

.btn__icon + .btn__label {
  margin-left: 0.25rem;
}

.close {
  z-index: 1;
  padding: 0;
  float: right;
  border: 0;
  background: none;
  color: var(--black);
  font-size: 1.313rem;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
}

.close:hover,
.close:focus {
  background-color: transparent;
}

.arrow {
  display: inline-block;
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  vertical-align: middle;
  cursor: pointer;
}

.arrow--up::after,
.arrow--right::after,
.arrow--down::after,
.arrow--left::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  border-style: solid;
}

.arrow--up::after {
  border-width: 0 0.4375rem 0.625rem;
  border-color: transparent transparent currentColor;
}

.arrow--right::after {
  border-width: 0.4375rem 0 0.4375rem 0.625rem;
  border-color: transparent transparent transparent currentColor;
}

.arrow--down::after {
  border-width: 0.625rem 0.4375rem 0;
  border-color: currentColor transparent transparent;
}

.arrow--left::after {
  border-width: 0.4375rem 0.625rem 0.4375rem 0;
  border-color: transparent currentColor transparent transparent;
}

.button-group .btn + .btn {
  margin-left: 0;
}

/* .btn--default--active,
.btn--default--active:hover {
  border: 0.0625rem solid var(--jet);
  background-color: var(--white);
  color: var(--jet) !important;
} */

.btn__separator--right {
  margin-right: var(--spacing-x-small);
  padding-right: var(--spacing-x-small) !important;
  border-right: 1px solid var(--gray-dark);
}

.btn__separator--left {
  margin-left: var(--spacing-x-small) !important;
  padding-left: var(--spacing-x-small) !important;
  border-left: 1px solid var(--gray-dark);
}

.btn--bold {
  @nest & span {
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
  }
}
