@import '../../../public/css/utils/variables.css';

.linear_wrapper--expanded {
  height: 100%;
  padding-bottom: var(--spacing-xx-small);
}

.c-linear-expanded-legend {
  height: 1.5rem;
  padding-right: var(--spacing-medium);
  padding-left: var(--spacing-medium);
}

.c-linear-expanded-legend__list {
  margin-bottom: 0;
}

.c-linear-expanded-legend__item {
  display: inline-block;
  position: relative;
  font-size: var(--font-size-small);
  text-align: center;
}

.c-linear-expanded-legend__item-color {
  display: inline-block;
  width: var(--square-icon-small-content);
  height: var(--square-icon-small-content);
  margin-right: var(--spacing-xx-small);
  vertical-align: middle;
}

