@import '../../public/css/utils/variables.css';

.drop-down-button {
  position: relative;

  @nest &:focus {
    outline: none;
  }

  @nest & .sb__btn {
    position: relative;
  }
}

.drop-down-button__title_a {
  display: inline;
  position: relative;
  padding: 0.25rem 1.25rem 0.25rem 0.625rem;
  line-height: 1.825rem;
  cursor: pointer;
}

.drop-down-button .dropdown-hide-content {
  display: none;
  position: absolute;
  z-index: -1;
  right: 0;
  opacity: 0;
}

.drop-down-button .dropdown-show-content {
  position: absolute;
  z-index: 999;
  top: calc(100% + 0.625rem);
  right: 50%;
  min-width: 190px;
  transform: translateX(50%);
  background-color: var(--gray-light);
  box-shadow: 0 -0.125rem 1.25rem rgba(0, 0, 0, 0.3);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  @nest & button {
    width: 100%;
  }
}

.drop-down-button.default .dropdown-show-content {
  @nest
  &>* {
    display: block;
    position: relative;
    padding: 0.625rem;
    cursor: pointer;

    @nest &:hover {
      color: white;
    }

    @nest &:not(:last-child):after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      border-bottom: var(--border-width-thin) solid var(--silver);
      box-shadow: 0 1px 1px var(--white);
    }
  }
}

.drop-down-button.secundary,
.drop-down-button.primary {
  @nest
  & .drop-down-button-trigger {
    min-height: 35px;
    background-color: white;
  }

  @nest & .drop-down-button-icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px 11px;
    color: #fff;
    @nest & svg {
      margin: 0 !important;
    }
  }
  @nest & .dropdown-show-content::before {
    content: '';
    position: absolute;
    top: -9px;
    right: 0;
    left: 0;
    width: 0;
    height: 0;
    margin: auto;
    border-width: 0 10px 10px;
    border-style: solid;
    border-color: transparent transparent #e9e9e9;
  }
}

.drop-down-button .top {
  top: initial !important;
  bottom: calc(100% + 0.625rem) !important;
}

.drop-down-button .top::before {
  top: initial !important;
  bottom: -76px !important;
  transform: rotateX(180deg);
}

.drop-down-button .dropdown-show-content .load {
  min-height: 100px;
}

.drop-down-button.arrow-left {
  @nest & .dropdown-show-content {
    left: 0 !important;
    min-width: 100% !important;
    transform: none !important;
  }

  @nest & ::before {
    left: auto !important;
    right: var(--spacing-x-small);
  }
}

.drop-down-button.arrow-right {
  @nest & .dropdown-show-content {
    right: 0 !important;
    transform: none !important;
    @nest &#::before {
      right: var(--spacing-x-small);
      left: auto !important;
    }
  }
}

.drop-down-button .link {
  position: relative;
  padding: var(--spacing-x-small);
  border-bottom: 1px solid var(--silver);
  cursor: pointer;

  @nest &:hover {
    color: white !important;
  }
}

.drop-down-button .link:last-child {
  border-bottom: none;
}